
table {
  width: 100%;
  border-collapse: collapse; 
  margin: 20px 0; 
}

thead {
  background-color: #333; 
  color: #fff; 
}

th, td {
  padding: 12px; 
  text-align: left; 
  border: 1px solid #555; 
}

tbody tr {
  background-color: #444; 
}

tbody tr:hover {
  background-color: #555; 
}

td {
  color: #fff; 
}


table th {
  font-weight: bold; 
}

.cima{
  align-items: center;
}
button {
  background-color: #4a4a4a; 
  color: #ffffff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a6a6a; 
}